
<h1>Editing Book</h1>
<!-- form_with部分 -->
<%= form_with model: @book, url:"/books/#{@book.id}", local:true do |f| %>

 <% if @book.errors.any? %>
  <ul>
   <%= pluralize(@book.errors.count, "error") %>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>git 
  </ul>
  <% end %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <p><%= f.submit 'Update Book' %></P>
 <% end %>


  <a href="/books/<%= @book.id %>">show</a>
  <a href="/books">Back</a>
